<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="TonyCoopeR-62">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.common.dev.js"></script>
    <title>ToDo App on Vue.js</title>
</head>
<body>
    <div id="app">
        <input type="search" id="inp" v-model="item.name" @keyup.enter="addTask" placeholder="input your task...">
        <div id="output">
          <ul id="list">
            <li v-for="(item, key) in tasks">{{ item.name }}<a href="#" @click="$delete(tasks, key)"><img src="./img/btn.png" id="btn"></a></li>
          </ul>
        </div>
    </div>
    <script src="script.js" type="text/javascript"></script>
</body>
</html>